<!DOCTYPE html >
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Admiro admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities."/>
    <meta name="keywords" content="admin template, Admiro admin template, javascript admin, dashboard template, bootstrap admin template, responsive admin template"/>
    <meta name="author" content="pixelstrap"/>
    <title>EcoMarket - Admin</title>

    <!-- Favicon-->
    <link rel="icon" href="{{asset('BO/images/favicon.png')}}" type="image/x-icon"/>

    <!-- Fonts & Icons -->
    <link rel="stylesheet" href="{{asset('BO/css/vendors/flag-icon.css')}}"/>
    <link rel="stylesheet" href="{{asset('BO/css/iconly-icon.css')}}"/>
    <link rel="stylesheet" href="{{asset('BO/css/themify.css')}}"/>
    <link rel="stylesheet" href="{{asset('BO/css/fontawesome-min.css')}}"/>

    <!-- Styles -->
    <link rel="stylesheet" href="{{asset('BO/css/color-1.css')}}"/>
    <link rel="stylesheet" href="{{asset('BO/css/style.css')}}"/>
</head>

<body>

<div class="page-wrapper compact-wrapper" id="pageWrapper">
<header class="page-header row">
{% block header %}
    <div class="logo-wrapper d-flex align-items-center col-auto">
        <a href="#"><img class="light-logo img-fluid" src="{{asset('BO/images/logo/logo1.png')}}" alt="logo"/></a>
        <a class="close-btn toggle-sidebar" href="javascript:void(0)">
            <svg class="svg-color">
                <use href="{{ asset('BO/svg/iconly-sprite.svg#Category') }}"></use>
            </svg>
        </a>
    </div>

    <div class="page-main-header col">
        <div class="nav-right">
            <ul class="header-right">

                <!-- Profile Dropdown -->
                <li class="profile-nav custom-dropdown">
                    <div class="user-wrap">
                        <div class="user-img"><img src="{{asset('BO/images/profile.png')}}" alt="user"/></div>
                        <div class="user-content">
                            {% if app.user %}
                                <h6>{{ app.user.nom }} {{ app.user.prenom }}</h6>
                                <p class="mb-0">Admin</p>
                            {% else %}
                                <h6>Utilisateur</h6>
                                <p class="mb-0">Non connecté</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="custom-menu overflow-hidden">
                        <ul class="profile-body">

                            <li class="d-flex">
                                <svg class="svg-color"><use xlink:href="{{asset('BO/svg/iconly-sprite.svg#Profile')}}"></use></svg>
                                <a class="ms-2" href="{{ path('profilAdmin') }}">Account</a>
                            </li>

                            {% if app.user %}
                                <li class="d-flex">
                                    <svg class="svg-color"><use href="{{asset('BO/svg/iconly-sprite.svg#Message')}}"></use></svg>
                                    <a class="ms-2" href="{{ path('profilAdmin_edit', {id: app.user.id}) }}">Modifier Profil</a>
                                </li>
                            {% endif %}

                            <li class="d-flex">
                                <svg class="svg-color"><use href="{{asset('BO/svg/iconly-sprite.svg#Login')}}"></use></svg>
                                <a class="ms-2" href="{{ path('app_logout') }}">Déconnexion</a>
                            </li>

                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}
</header>

<!-- Sidebar + Body -->
<div class="page-body-wrapper">

{% block body %}
<aside class="page-sidebar">
    <div class="main-sidebar" id="main-sidebar">

        <ul class="sidebar-menu" id="simple-bar">

            <li class="sidebar-main-title"><h5 class="sidebar-title">MENU</h5></li>

            {% if app.user %}
            <!-- USERS -->
            <li class="sidebar-list">
                <a class="sidebar-link" href="javascript:void(0)">
                    <h6 class="f-w-600">Users</h6>
                </a>
                <ul class="sidebar-submenu">
                    <li><a href="{{ path('profilAdmin') }}">Users Profile</a></li>
                    <li><a href="{{ path('profilAdmin_edit', {id: app.user.id}) }}">Modifier Profil</a></li>
                </ul>
            </li>

            <!-- CLIENTS -->
            <li class="sidebar-list">
                <a class="sidebar-link" href="{{ path('admin_mes_clients', {id: app.user.id}) }}">
                    <h6 class="f-w-600">Consulter Clients</h6>
                </a>
            </li>

            <!-- VENDEURS -->
            <li class="sidebar-list">
                <a class="sidebar-link" href="{{ path('admin_mes_vendeurs', {id: app.user.id}) }}">
                    <h6 class="f-w-600">Consulter Vendeurs</h6>
                </a>
            </li>
            {% endif %}

            <!-- RECLAMATIONS -->
            <li class="sidebar-list">
                <a class="sidebar-link" href="javascript:void(0)">
                    <h6 class="f-w-600">Gestion Réclamation</h6>
                </a>
                <ul class="sidebar-submenu">
                    <li><a href="#">Consulter Réclamation</a></li>
                    <li><a href="#">Ajouter Réponse</a></li>
                    <li><a href="#">Consulter Réponse</a></li>
                </ul>
            </li>

            <!-- EVENTS -->
            <li class="sidebar-list">
                <a class="sidebar-link" href="javascript:void(0)">
                    <h6 class="f-w-600">Evenement</h6>
                </a>
                <ul class="sidebar-submenu">
                    <li><a href="#">Ajouter Event</a></li>
                    <li><a href="#">Consulter Event</a></li>
                </ul>
            </li>

            <!-- PRODUITS -->
            <li class="sidebar-list">
                <a class="sidebar-link" href="#">
                    <h6 class="f-w-600">Consulter Produits</h6>
                </a>
            </li>

            <!-- POINTS RECYCLAGE -->
            <li class="sidebar-list">
                <a class="sidebar-link" href="#">
                    <h6 class="f-w-600">Points de Recyclage</h6>
                </a>
            </li>

            <!-- COMMANDES -->
            <li class="sidebar-list">
                <a class="sidebar-link" href="{{ path('app_commande_index') }}">
                    <h6 class="f-w-600">Commandes</h6>
                </a>
            </li>

            <!-- LIVRAISONS -->
            <li class="sidebar-list">
                <a class="sidebar-link" href="{{ path('app_livraison_index') }}">
                    <h6 class="f-w-600">Livraison</h6>
                </a>
            </li>

        </ul>

    </div>
</aside>
{% endblock %}

<!-- FOOTER -->
<footer class="footer">
{% block footer %}
    <div class="container-fluid">
        <p class="mb-0 text-center">EcoMarket 2026 © Achetez Vert, Vivez Mieux.</p>
    </div>
{% endblock %}
</footer>

</div>

<script src="{{asset('BO/js/vendors/jquery/jquery.min.js')}}"></script>
<script src="{{asset('BO/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{asset('BO/js/script.js')}}"></script>

</body>
</html>
